# Series

- pansdas에서 사용하는 1차원 배열.
- index를 사용 할 수 있습니다.

In [4]:
import pandas as pd
import numpy as np

In [5]:
#pandas 안에 시리즈 만듬
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [6]:
s = pd.Series(arr) #S는 클래스
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [7]:
pd.Series(arr, dtype= 'float32')
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [8]:
pd.Series(['kim', 'lee', 'park'])
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [9]:
s = pd.Series([1, 2, 3, '1', '2', 'hello'])
print(s)

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

In [10]:
s[5]

'hello'

In [11]:
# Serise는 음수 인덱싱은 지원되지 않음
#s[-1]

In [12]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [13]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c'])

In [14]:
#names[0]
names.iloc[0]

'kim'

In [15]:
'kim'

'kim'

In [16]:
names['a']

'kim'

In [17]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [18]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

In [19]:
names.ndim #몇 차원입니까?

1

In [20]:
names.shape

(3,)

## NaN(Not a Number)

In [21]:
#pd.Series([1, 2, 3, np.nan])
#print(s)

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

# fancy indexing

In [24]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [28]:
s[['d', 'a']] # 특정 요소를 뽑아 올 때 대괄호 접근을 통해 접근

d       NaN
a    banana
dtype: object

In [29]:
#s[[3, 1]]
s.iloc[[3, 1]]

d      NaN
b    apple
dtype: object

## boll indexing
- 원하는 값만 골라올 때

In [31]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [33]:
s[[True, False, True, False]] #컨디션에 맞는 것만 뽑아옴

a    banana
c     grape
dtype: object

In [34]:
s == 'banana'

a     True
b    False
c    False
d    False
dtype: bool

In [41]:
s[s == 'banana'] #s는 banana 인가요?

a    banana
dtype: object

In [62]:
s = pd.Series([1, 5, 3, 4, 2, 6])
s[s > 3]

1    5
3    4
5    6
dtype: int64

# 결측치(NaN) 처리

In [44]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [45]:
s.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [48]:
#s[s.isnull()] #null값이 맞나요?
s[s.isna()]

2   NaN
5   NaN
dtype: float64

In [49]:
#s[s.notnull()] #null이 아닌가요?
s[s.notna()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## slicing

In [51]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [53]:
#인덱스가 글자일 때 다르게 동작함
s = pd.Series([1, 2, 3], index=list('abc'))
s[1:2]
s['a':'b']

a    1
b    2
dtype: int64

# Dataframe
- 2차원 데이터 구조(excel, sheet와 유사)
- 행(row), 열(column) 구조

In [58]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
], columns=['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
info = {
    'name' : ['kim', 'lee', 'park'],
    'age' : [10, 20, 30]
}

In [61]:
pd.DataFrame(info)

   name  age
0   kim   10
1   lee   20
2  park   30